@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* globals.css */

@layer base {
  html {
    background-color: var(--lightBackground); /* Default Light Background */
    color: var(--lightText); /* Default Light Text */
  }

  /* Dark mode styles */
  html.dark {
    background-color: var(--darkBackground); /* Dark Background */
    color: var(--darkText); /* Dark Text */
  }
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Default style for larger screens */
/* Default style for larger screens */
.chat_messages {
  height: 77vh;
}

/* Media query for small screens (mobile) */
@media (max-width: 768px) {
  .chat_messages {
    overflow-y: auto;
    height: 57vh;
  }
}

@media (max-width: 800px) {
  .chat_messages {
    overflow-y: auto;
    height: 68vh;
  }
}




.name_size{
  font-size: smaller;
}

.green-dot {
  color: green;
  margin-left: 10px;
  font-weight: bold;
  animation: blink 1.5s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}