@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* globals.css */

@layer base {
  html {
    background-color: var(--lightBackground);
    /* Default Light Background */
    color: var(--lightText);
    /* Default Light Text */
  }

  /* Dark mode styles */
  html.dark {
    background-color: var(--darkBackground);
    /* Dark Background */
    color: var(--darkText);
    /* Dark Text */
  }
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Default style for larger screens */
/* Default style for larger screens */
.chat_messages {
  height: 77vh;
}

/* Media query for small screens (mobile) */
@media (max-width: 768px) {
  .chat_messages {
    overflow-y: auto;
    height: 57vh;
  }
}


/* styles/Loader.module.css */

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.name_size {
  font-size: smaller;
}

.green-dot {
  color: green;
  margin-left: 10px;
  font-weight: bold;
  animation: blink 1.5s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}